.DS_Store
.clj-kondo/.cache/
.clj-kondo/imports/
.cpcache/
.lsp/
/toolkit
*.key
.rebel_readline_history
/datapotamus
/core.async.flow-monitor
/*.json
cache
.claude
dev/data/
dev/podcast_*
dev/mac_mini.clj
out
out copy
out-cc
*.duckdb
*.duckdb.wal
